/* Общий контейнер */
.profile{
  margin: 100px 450px;
  border: 2px solid rgb(4, 89, 122);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(4, 89, 122);
  padding: 20px;
  background-color: rgb(0,64,89)
}

