.container {
  margin: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.taskDetails {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.subheading {
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  white-space: pre-wrap;
  word-wrap: break-word;
}