.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-heading {
  text-align: center;
}

.message-history {
  width: 400px;
  height: 300px;
  overflow-y: scroll; /* Используем прокрутку */
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse; /* Изменили направление отображения на обратное */
  align-items: flex-start; /* Изменили выравнивание на левую сторону */
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.bubble {
  max-width: 70%;
  padding: 8px;
  border-radius: 8px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.user-bubble {
  background-color: #f0f0f0;
  align-self: flex-end;
}

.assistant-bubble {
  background-color: #e2f7fd;
  align-self: flex-start;
}

.small-assistant-bubble {
  align-self: flex-start;
  max-width: 50%; /* Ограничиваем ширину маленьких сообщений ассистента */
}

.input-container {
  display: flex;
  align-items: center;
}

.input-text {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.send-button {
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}