.inputContainer {
  display: flex;
  align-items: center;
}

.inputTextarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  resize: vertical;
  min-height: 50px;
  min-width: 496px;
}

.sendButton {
  padding: 8px 16px;
  border: none;
  background-color: #062ffc;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}