.container {
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.leftPanel {
  width: 15%;
  height: 1000px;
  background-color: rgb(13, 17, 23);
  position: fixed;
  top: 60px; 
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.rightPanel {
  width: 85%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  margin-left: 15%;
  overflow-y: auto;
}